<table class = "table table-hover">
  <% if @group %>
    <h1><%= @group.name %>
  <% end %>
  <% if current_user %>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Contact Updated</th>
    <th>Contact Address</th>
    <% @contacts.each do |contact| %>
        <tr>
        <td><a href = "/contacts/<%= contact.id %>"><%= contact.full_name %></a></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone_number %></td>
        <td><%= contact.updated_friendly_time %></td>
        <td><%= contact.address %> </td>
        </tr>
    <% end %>

    <p>My Contacts Map:</p>
    <div id="map" style="width: 400px; height: 400px"></div>
    <script>
      var map;
      function initMap() {
        var myLatLng = {lat: <%= @contacts.first.latitude %>, lng: <%= @contacts.first.longitude %>};

        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow(); 

        map = new google.maps.Map(document.getElementById('map'), {});

        <% @contacts.each do |contact| %> //Iterate over all the contacts
          var marker = new google.maps.Marker({ //Make a marker for each contact
            position: {lat: <%= contact.latitude %>, lng: <%= contact.longitude %>},
            map: map,
            title: "<%= contact.first_name %>'s Location"
          });
          bounds.extend(marker.position); //extend the bounds to include each marker's position
        <% end %>   

        //now fit the map to the newly inclusive bounds
        map.fitBounds(bounds);

      }
    </script>
    <!-- Remember to set your Google API key to "google_key" in the environmental variables hash -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_key"] %>&callback=initMap"
    async defer></script>

  <% else %>
    <a href="/login">Log In to See Your Contacts!</a>
  <% end %>
</table>
