<table class = "table table-hover">
  <% if @group %>
    <h1><%= @group.name %>
  <% end %>
  <% if current_user %>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Contact Updated</th>
    <th>Contact Address</th>
    <% @contacts.each do |contact| %>
        <tr>
        <td><a href = "/contacts/<%= contact.id %>"><%= contact.full_name %></a></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone_number %></td>
        <td><%= contact.updated_friendly_time %></td>
        <td><%= contact.address %> </td>
        </tr>
    <% end %>
  <% else %>
    <a href="/login">Log In to See Your Contacts!</a>
  <% end %>
</table>
