<table class = "table table-hover">
  <% if @group %>
    <h1><%= @group.name %>
  <% end %>
  <% if current_user %>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Contact Updated</th>
    <th>Contact Address</th>
    <% @contacts.each do |contact| %>
        <tr>
        <td><a href = "/contacts/<%= contact.id %>"><%= contact.full_name %></a></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone_number %></td>
        <td><%= contact.updated_friendly_time %></td>
        <td><%= contact.address %> </td>
        </tr>
    <% end %>
</table>

    <p>My Contacts Map:</p>
    <div id="map" style="width: 400px; height: 400px"></div>
      <script>
        var map;
        function initMap() {
          var contacts = <%= raw @script_contacts %>;
          
          var bounds = new google.maps.LatLngBounds(); //these will define the bounds of your map
          map = new google.maps.Map(document.getElementById('map'), {}); //this makes your map caled map

          for (i = 0; i < contacts.length; i++) { //Iterate over all the contacts
            var contact = JSON.parse(contacts[i]);
            var marker = new google.maps.Marker({ //Make a marker for each contact as you iterate
              position: {lat: contact.latitude, lng: contact.longitude},
              map: map,
            });
            bounds.extend(marker.position); //will extend your bounds each time a contact is added
          } 
           
          //refit the map to the bounds as defined in your each loop
          map.fitBounds(bounds);
        }
      </script>
    <!-- Remember to set your Google API key to "google_key" in the environmental variables hash -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_key"] %>&callback=initMap"
    async defer></script>

  <% else %>
    <a href="/login">Log In to See Your Contacts!</a>
  <% end %>
