    <h1>Contact Card</h1>

    <p><%= @contact.full_name %></p>
    <p><%= @contact.email %></p>
    <p><%= @contact.phone_number %></p>
    <p>
    Groups: <% @contact.groups.each do |group| %>
      <a href= "/contacts/?group_id=<%= group.id %>"><%= group.name %></a>
    <% end %>
    </p>
    <p>Contact's Map Location:</p>
    <div id="map" style="width: 400px; height: 400px"></div>
    <script>
      var map;
      function initMap() {
        var myLatLng = {lat: <%= @contact.latitude %>, lng: <%= @contact.longitude %>};

        map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 8
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Contact Location'
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_key"] %>&callback=initMap"
    async defer></script>